<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fjlcx.office.dao.NotePadDao" >

  <resultMap type="cn.fjlcx.office.bean.NotePad" id="BaseNotePadResultMap">
    <result column="np_id" property="npId"/>
    <result column="np_content" property="npContent"/>
    <result column="np_adddate" property="npAdddate"/>
    <result column="np_updatedate" property="npUpdatedate"/>
    <result column="np_state" property="npState"/>
  </resultMap>

  <insert id="insertNotePad" parameterType="cn.fjlcx.office.bean.NotePad">
    INSERT INTO oa_notepad(np_content,np_adddate,np_updatedate,np_state) values(${np_content},#{np_adddate},#{np_updatedate},#{np_state})
  </insert>

  <select id="countAllNotePad" resultType="int">
    SELECT COUNT(*) from oa_notepad
  </select>

  <select id="selectNotePadByPager" parameterType="cn.fjlcx.office.bean.PageBean" resultMap="BaseNotePadResultMap">
    SELECT * from oa_notepad limit #{start},#{pageLine}
  </select>

  <select id="selectNotePadById" parameterType="int" resultMap="BaseNotePadResultMap">
    SELECT * from oa_notepad WHERE np_id = #{npId}
  </select>

  <delete id="deleteNotePadById" parameterType="int">
    DELETE FROM oa_notepad where np_id = #{npId}
  </delete>

  <update id="updateNotePad" parameterType="cn.fjlcx.office.bean.NotePad">
    UPDATE oa_notepad SET np_content = #{npContent},np_updatedate=#{npUpdatedate} WHERE np_id=#{npId}
  </update>

  <update id="setNotePadToTop" parameterType="cn.fjlcx.office.bean.NotePad">
    UPDATE oa_notepad SET np_state =
    <if test="#{npState==0 }">
      1
    </if>
    <if test="#{npState==1 }">
      0
    </if>
  </update>

</mapper>